span{
  border-bottom: 0px solid #fff;
  color: red;
}
p{
  margin-left: 15px;
  color: white;
}
.lastleft:hover{
  color: red;
}
.lastleft{
  float: left;
  color: white;
  font-size: 12px;
}
.last {
  height: 55px;
  width: 100%;
  background-color: #1D2529;
  margin-left: 0px;
}
.line1 {
  position: absolute;
  margin-top: -1px;
  width: 100%;
  background-color: white;
}
.all {
  float: right;
  color: white;
  font-size: 12px;
}

@media screen and (min-width: 768px) and (max-width: 837px)  {
  p{
    margin-top: -10px;
    margin-left: 15px;
    color: white;
  }
  .last {
    height: 35px;
    margin-left: 0px;
    margin-bottom: -1000px;
  }
  .lastleft{
    margin-top: -12px;
    font-size: 10px;
  }
  .all {
    margin-top: -12px;
    font-size: 10px;
  }
}
